# Hypothesis Testing

In [1]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests

df = pd.read_csv('blood_pressure.csv')

In [3]:
df[['bp_before','bp_after']].describe()
df.head(5)

   patient   sex agegrp  bp_before  bp_after
0        1  Male  30-45        143       153
1        2  Male  30-45        163       170
2        3  Male  30-45        153       168
3        4  Male  30-45        153       142
4        5  Male  30-45        146       141

In [4]:
df.shape

(120, 5)

Paired sampled t-test: The paired sample t-test is also called dependent sample t-test. It's an uni variate test that tests for a significant difference between 2 related variables. An example of this is if you where to collect the blood pressure for an individual before and after some treatment, condition, or time point.

HO: means difference between two sample is 0

H1: mean difference between two sample is not 0

In [6]:
ttest,pval = stats.ttest_rel(df['bp_before'],df['bp_after'])
pval

0.0011297914644840823

In [7]:
if pval<0.05:
    print('Reject null hypothesis')
else:
    print('Accept null hypothesis')

Reject null hypothesis